{{#hasMultipleSubtypes}}
{{#hasCustomType}}
{{#subtypes}}
{{#className}}
- ({{className}} *){{subtype}}In{{#_upper_camelcase}}{{varName}}{{/_upper_camelcase}}AtIndex:(NSUInteger)index withError:(NSError **)error;
{{/className}}
{{/subtypes}}
{{/hasCustomType}}
{{#hasNumberType}}
{{#subtypes}}
- (NSNumber *){{subtype}}In{{#_upper_camelcase}}{{varName}}{{/_upper_camelcase}}AtIndex:(NSUInteger)index withError:(NSError **)error;
{{/subtypes}}
{{/hasNumberType}}
{{#hasStringType}}
{{#subtypes}}
- (NSString *){{subtype}}In{{#_upper_camelcase}}{{varName}}{{/_upper_camelcase}}AtIndex:(NSUInteger)index withError:(NSError **)error;
{{/subtypes}}
{{/hasStringType}}
{{#hasBooleanType}}
{{#subtypes}}
- (BOOL ){{subtype}}In{{#_upper_camelcase}}{{varName}}{{/_upper_camelcase}}AtIndex:(NSUInteger)index withError:(NSError **)error;
{{/subtypes}}
{{/hasBooleanType}}
{{#hasDateType}}
{{#subtypes}}
- (NSDate *){{subtype}}In{{#_upper_camelcase}}{{varName}}{{/_upper_camelcase}}AtIndex:(NSUInteger)index withError:(NSError **)error;
{{/subtypes}}
{{/hasDateType}}
{{#hasDataType}}
{{#subtypes}}
- (NSData *){{subtype}}In{{#_upper_camelcase}}{{varName}}{{/_upper_camelcase}}AtIndex:(NSUInteger)index withError:(NSError **)error;
{{/subtypes}}
{{/hasDataType}}
{{/hasMultipleSubtypes}}
{{#hasAnyType}}
- (id){{subtype}}In{{#_upper_camelcase}}{{varName}}{{/_upper_camelcase}}AtIndex:(NSUInteger)index withError:(NSError **)error;
{{/hasAnyType}}
