{{#hasCustomType}}
{{#className}}
- ({{className}} *){{name}}As{{#_upper_camelcase}}{{type}}{{/_upper_camelcase}}:(NSError **)error;
{{/className}}
{{^className}}
- (NSString *){{name}}As{{#_upper_camelcase}}{{type}}{{/_upper_camelcase}}:(NSError **)error;
{{/className}}
{{/hasCustomType}}
{{#hasNumberType}}
- (NSNumber *){{name}}AsNumber:(NSError **)error;
{{/hasNumberType}}
{{#hasStringType}}
{{#types}}
- (NSString *){{name}}As{{#_upper_camelcase}}{{type}}{{/_upper_camelcase}}:(NSError **)error;
{{/types}}
{{/hasStringType}}
{{#hasDateType}}
- (NSDate *){{name}}AsDate:(NSError **)error;
{{/hasDateType}}
