if (!self.{{varName}}) return nil;
NSDictionary *new{{varName}}Dic = @{@"{{name}}" : self.{{varName}}};
NSNumber *tmp{{#_upper_camelcase}}{{varName}}{{/_upper_camelcase}} = [APIParser numberFromResponseDictionary:new{{varName}}Dic forKey:@"{{name}}" acceptNil:NO error:error];
if (*error) {
    return nil;
}
return tmp{{#_upper_camelcase}}{{varName}}{{/_upper_camelcase}};
