if (!self.{{varName}}) return nil;
NSDictionary *new{{varName}}Dic = @{@"{{varName}}" : self.{{varName}}};
NSString *tmp{{#_upper_camelcase}}{{varName}}{{/_upper_camelcase}} = [APIParser stringFromResponseDictionary:new{{varName}}Dic forKey:@"{{name}}" acceptNumber:NO acceptNil:{{#required}}NO{{/required}}{{^required}}YES{{/required}} error:error];
if (*error) {
    return nil;
}
{{#_type}}
if (tmp{{#_upper_camelcase}}{{varName}}{{/_upper_camelcase}} == nil) {
    return nil;
}
{{/_type}}
{{#_type.maxLength}}
if (tmp{{#_upper_camelcase}}{{varName}}{{/_upper_camelcase}}.length > {{_type.maxLength}}) {
    NSDictionary *userInfo = @{@"propertyName" : @"{{_type.name}}",
                               @"key" : @"{{_type.name}}",
                               @"reason" : @"max length validation error",
                               @"objectClass" : NSStringFromClass([self class])
                               };
    *error = [NSError errorWithDomain:k{{prefix}}ErrorDomain_parser code:k{{prefix}}ErrorDomain_parser_valueIsNotValid userInfo:userInfo];
    NSLog(@"%@", *error);
    return nil;
}
{{/_type.maxLength}}
{{#_type.minLength}}
if (tmp{{#_upper_camelcase}}{{varName}}{{/_upper_camelcase}}.length < {{_type.minLength}}) {
    NSDictionary *userInfo = @{@"propertyName" : @"{{_type.name}}",
                               @"key" : @"{{_type.name}}",
                               @"reason" : @"min length validation error",
                               @"objectClass" : NSStringFromClass([self class])
                               };
    *error = [NSError errorWithDomain:k{{prefix}}ErrorDomain_parser code:k{{prefix}}ErrorDomain_parser_valueIsNotValid userInfo:userInfo];
    NSLog(@"%@", *error);
    return nil;
}
{{/_type.minLength}}
{{! to finish need to pass customClass regex...}}
{{#_type.regex}}
if (tmp{{#_upper_camelcase}}{{varName}}{{/_upper_camelcase}} && [tmp{{#_upper_camelcase}}{{varName}}{{/_upper_camelcase}} matchesRegExString:@"{{& _type.regex}}"] == NO) {
    NSDictionary *userInfo = @{@"propertyName" : @"{{_type.name}}",
                               @"key" : @"{{_type.name}}",
                               @"reason" : @"validation error",
                               @"objectClass" : NSStringFromClass([self class])
                               };
    *error = [NSError errorWithDomain:k{{prefix}}ErrorDomain_parser code:k{{prefix}}ErrorDomain_parser_valueIsNotValid userInfo:userInfo];
    NSLog(@"%@", *error);
    return nil;
}
{{/_type.regex}}
return tmp{{#_upper_camelcase}}{{varName}}{{/_upper_camelcase}};
