//
//  {{machineClassName}}.h
//
//  Created by MetaJSONParser.
//  Copyright (c) {{date}} SinnerSchrader Mobile. All rights reserved.

#import <Foundation/Foundation.h>
{{^baseTypeIsObject}}
#import "{{baseClassName}}.h"
{{/baseTypeIsObject}}

{{#objectProperties}}
@class {{className}};
{{/objectProperties}}
{{#custom_classes}}
@class {{.}};
{{/custom_classes}}
@class {{humanClassName}};

{{#baseTypeIsObject}}
@interface {{machineClassName}} : NSObject <NSCoding>
{{/baseTypeIsObject}}
{{^baseTypeIsObject}}
@interface {{machineClassName}} : {{baseClassName}}
{{/baseTypeIsObject}}

{{#numberProperties}}
{{#comment}}
// {{comment}}
{{/comment}}
@property (nonatomic, strong) NSNumber *{{varName}};
{{/numberProperties}}
{{#stringProperties}}
{{#comment}}
// {{comment}}
{{/comment}}
@property (nonatomic, strong) NSString *{{varName}};
{{/stringProperties}}
{{#booleanProperties}}
{{#comment}}
// {{comment}}
{{/comment}}
@property (nonatomic, assign) BOOL {{varName}};
{{/booleanProperties}}
{{#dataProperties}}
{{#comment}}
// {{comment}}
{{/comment}}
@property (nonatomic, strong) NSData *{{varName}};
{{/dataProperties}}
{{#dateProperties}}
{{#comment}}
// {{comment}}
{{/comment}}
@property (nonatomic, strong) NSDate *{{varName}};
{{/dateProperties}}
{{#arrayProperties}}
{{#comment}}
// {{comment}}
{{/comment}}
@property (nonatomic, strong) NSArray *{{varName}};
{{/arrayProperties}}
{{#objectProperties}}
{{#comment}}
// {{comment}}
{{/comment}}
@property (nonatomic, strong) {{className}} *{{varName}};
{{/objectProperties}}
{{#undefinedProperties}}
{{#comment}}
// {{comment}}
{{/comment}}
@property (nonatomic, strong) id {{varName}};
{{/undefinedProperties}}

+ ({{humanClassName}} *){{variableName}}WithDictionary:(NSDictionary *)dic withError:(NSError **)error;
- (id)initWithDictionary:(NSDictionary *)dic withError:(NSError **)error;
{{#baseTypeIsObject}}
- (NSDictionary *)propertyDictionary;
{{/baseTypeIsObject}}
{{#arrayProperties}}
{{> templates/array_property}}
{{/arrayProperties}}
{{#undefinedProperties}}
{{> templates/multiple_property}}
{{/undefinedProperties}}
{{^arrayProperties}}

{{/arrayProperties}}
@end
