{{#hasCustomType}}
{{#className}}
- ({{className}} *){{subtype}}In{{capitalizeVarName}}AtIndex:(NSUInteger)index withError:(NSError **)error;
{{/className}}
{{/hasCustomType}}
{{#hasNumberType}}
- (NSNumber *){{subtype}}In{{capitalizeVarName}}AtIndex:(NSUInteger)index withError:(NSError **)error;
{{/hasNumberType}}
{{#hasStringType}}
- (NSString *){{subtype}}In{{capitalizeVarName}}AtIndex:(NSUInteger)index withError:(NSError **)error;
{{/hasStringType}}
{{#hasDateType}}
- (NSDate *){{subtype}}In{{capitalizeVarName}}AtIndex:(NSUInteger)index withError:(NSError **)error;
{{/hasDateType}}
