{{#hasCustomType}}
{{#className}}

- ({{className}} *){{name}}As{{#_upper_camelcase}}{{type}}{{/_upper_camelcase}}:(NSError **)error
{
    {{> templates/number_property}}
}
{{/className}}
{{^className}}

- (NSString *){{name}}As{{#_upper_camelcase}}{{type}}{{/_upper_camelcase}}:(NSError **)error
{
    {{> templates/string_property}}
}
{{/className}}
{{/hasCustomType}}
{{#hasNumberType}}

- (NSNumber *){{name}}AsNumber:(NSError **)error
{
    {{> templates/number_property}}
}
{{/hasNumberType}}
{{#hasStringType}}
{{#types}}
- (NSString *){{name}}AsString:(NSError **)error
{
    {{> templates/string_property}}
}
{{/types}}
{{/hasStringType}}
{{#hasDateType}}

- (NSDate *){{name}}AsDate:(NSError **)error
{

}
{{/hasDateType}}
