//
//  {{humanClassName}}.m
//
//  Created by MetaJSONParser.
//  Copyright (c) {{date}} SinnerSchrader Mobile. All rights reserved.

#import "{{humanClassName}}.h"

@interface {{humanClassName}} ()

@end

@implementation {{humanClassName}}

@end
