//
//  {{humanClassName}}.h
//
//  Created by MetaJSONParser.
//  Copyright (c) {{date}} SinnerSchrader Mobile. All rights reserved.

#import "{{machineClassName}}.h"
@interface {{humanClassName}} : {{machineClassName}}

@end
